:root {
  --clr-orange: #F76A23;
  --clr-text: #686868;
  --clr-white: #ffffff;
  --clr-light-grey: #ACACAC;

  --fw-semibold: 600;

  --fs-small: .6rem;
  --fs-normal: .85rem;
  --fs-medium: 1rem;
  --fs-big: 1.25rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}